.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}

.field {
  display: flex;
  justify-content: space-between;
}

.card input,
.button {
  width: 60%;
  background: #122846;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
}

.button {
  margin: 0 auto;
}
